body {
  background-color: #2a3135;
  color: #FFFFFF;
  font-family: 'IBM Plex Mono', monospace;
  padding: 16px;
  font-weight: 300;
  max-width: 100%;
  overflow-x: hidden;
  line-height: 1.8;
}

a, a:hover, a:visited, a:focus, a:active {
  color: #FFFFFF;
}

h2 {
  font-weight: 700;
  margin-top: 16;
  margin-left: 24px;
  font-size: 16px;
}

textarea.code {
  background-color: #4d5960;
  color: #ffffff;
  display: block;
  width: 90%;
  max-width: 75%;
  min-height: 900px;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: monospace;
  border: 1px rgba(255, 255, 255, 0.15) solid;
  border-radius: 10px;
  padding: 16px;
  font-size: 14px;
  white-space:pre-wrap;
}

.cl {
  text-decoration: none;
}

.indent {
  margin-left: 2rem;
}

.lowright {
  position: fixed;
  right: 3rem;
  bottom: 6rem;
  padding: 10px 20px 10px 20px;
  background-color: #2a95dc;
  border-radius: 16px;
  min-width: 160px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  box-shadow: #2a95dc 0px 2px 17px -2px;
}

.lowright2 {
  position: fixed;
  right: 3rem;
  bottom: 2rem;
  padding: 10px 20px 10px 20px;
  background-color: #16191b;
  border-radius: 16px;
  min-width: 160px;
  text-align: center;
  text-decoration: none;
  box-shadow: #16191a 0px 2px 17px -2px;
}